//Variables Start Here
	// Color variables (appears count calculates by raw css)
		@color0: #00b8fc; // Appears 3 times
		@assault-bg: #FF4136; // Color Pallet Catergories
		@smg-bg: #001f3f; // Color Pallet Catergories
		@light-machine-bg: #0074D9; // Color Pallet Catergories
		@shotguns-bg: #3D9970; // Color Pallet Catergories
		@marksman-bg: #85144b; // Color Pallet Catergories
		@pistol-bg: #F012BE; // Color Pallet Catergories
		@launcher-bg: #AAAAAA; // Color Pallet Catergories
		@sniper-bg: #FF851B; // Color Pallet Catergories

	// Width variables (appears count calculates by raw css)
		@width1: 100%; // Appears 2 times
		@width2: 40%; // Appears 7 times

//Mixins
	//Categorie Button Mixin
		.categories-style-btn(@bg-categories){
			background-color: @bg-categories;
			border-radius: 4rem;
			font-family: 'Manjari', sans-serif;
			font-size: 1.1rem;
			margin-bottom: 21.6rem;
			margin-left: 10.5rem;
			margin-top: 1rem;
			max-width: @width2;
		}
