/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* COLORS USED IN WEBSITE */
/* Nav-background: #00b8fc */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    box-sizing: border-box;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	text-decoration: none;
}

/* END OF DEFAULT CSS */

/* MW WEAPON LIST CSS
   BY: GIOVANI
   COPYRIGHTED CODE DO NOT USE
/* Start of Main CSS */

* {padding: 0; margin: 0;}

.homepage-body{
	width: 100%;
	margin: 0 auto;
}

.nav-container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00b8fc;
}

.nav-logo {
  margin: 0 0 0 .45em;
}
    .nav-logo a {
	  color: rgb(28, 24, 22);
	  font-family: 'Manjari', sans-serif;
	  color: white;
	  font-size: 1.5rem;
	  font-weight: bold;
    }

    .nav-logo, .navigation-links {
		display: flex;
        list-style: none;
        text-transform: uppercase;
    }

    .nav-logo a, .navigation-links a {
        text-decoration: none;
		letter-spacing: .45rem;
		display: block;
		padding: 1em;
		color: white;
    }

	.navigation-links a:hover {
		background: #00ace6;
	}


.img-top-home {
    background: #00b8fc;
    padding: 6rem;
    display: flex;
    justify-content: center;
}
	.img-top-home .img-top-text {
		font-size: 3rem;
		color: whitesmoke;
		display: flex;
		align-items: center;
		text-align: center;
		font-size: 68px;
		font-family: 'Manjari', sans-serif;
		font-weight: bold;
		background: #00b8fc;
		height: 8rem;
		line-height: 5.3rem;
	}

/* WEAPON LIST CSS [START] */

.weapons-container{
	background: white;
	padding: 6rem;
}

	.weapons-container h1 {
	color: black;
	font-size: 2rem;
	font-family: 'Manjari', sans-serif;
	line-height: 3.5rem;

	}

	.weapons-container p {
	font-family: 'Manjari', sans-serif;
	font-size: 1.3rem;
	color: black;
	}

	.weapon-box-container{
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
	}

.box {
	background: grey;
	background-image: url(https://previews.dropbox.com/p/thumb/AAgQI9JgRHxSXDP-EV__x29nOtSgKstBFO26o-xjx1NeSBKjcUbJ0wr2Qi-_GkX2NMs_fk3w4rk5vJqieMTmm_OLT1n0gwGqDEFj7gygbbcXgIbrjiJUrFOstIaO0A2KGMh55oIjbP4OZRL4GuurtZ-_bf6Ff1b_G4y6pBl_Z_zIIvx_j64bGmNo-i1qhT7HEl0OGIJ5AgZTO2z0lUbw4AsQEfLP-F7qGFplY0Qi8jxUFQ5Wtwn8CYTEK6JFhT7XiulAr2MpDHyINOTqQib0SQUecbgvkP6D2CufXBKt4Qw4lx0nLTsFrmP06xkhrTeNQPhfQaqnE3-omBWtBwtepHUR/p.png?fv_content=true&size_mode=5);
    width: 19rem;
    height: 31rem;
	margin-top: 1.5rem;
	margin-left: 1.5rem; /* Remember to remove this when adding the @media */
    background-repeat: no-repeat;
	background-size: cover;
	display: none;
}

	.box h1 {
    	text-align: center;
    	color: white;
	}

	.box p {
		text-align: center;
		background: rgba(212, 212, 212, 0.41);
		height: 1.47rem;
		color: white;
	}

.show {
	display: block;
}

.weapon-box-container {
	margin-top: 20px;
	overflow: hidden;
  }

	.btn {
		border: none;
		outline: none;
		padding: 12px 16px;
		background-color: #f1f1f1;
		cursor: pointer;
		margin: 0.1rem;
}

	.btn:hover {
  		background-color: #ddd;
}

	.btn.active {
  		background-color: #666;
  		color: white;
}

/* Category CSS */

h1.categories-weapon-assault {
	font-family: 'Manjari', sans-serif;
    font-size: 1.1rem;
    background-color: rebeccapurple;
    border-radius: 4rem;
    max-width: 40%;
    margin-left: 10.5rem;
	margin-top: 1rem;
	margin-bottom: 21.6rem;
}

h1.categories-weapon-smg {
	font-family: 'Manjari', sans-serif;
    font-size: 1.1rem;
    background-color: rgb(214, 72, 28);
    border-radius: 4rem;
    max-width: 40%;
    margin-left: 10.5rem;
	margin-top: 1rem;
	margin-bottom: 21.6rem;
}

h1.categories-weapon-light {
	font-family: 'Manjari', sans-serif;
    font-size: 1.1rem;
    background-color: rgb(15, 100, 211);
    border-radius: 4rem;
    max-width: 40%;
    margin-left: 10.5rem;
	margin-top: 1rem;
	margin-bottom: 21.6rem;
}

h1.categories-weapon-sniper {
	font-family: 'Manjari', sans-serif;
    font-size: 1.1rem;
    background-color: rgb(230, 46, 153);
    border-radius: 4rem;
    max-width: 40%;
    margin-left: 10.5rem;
	margin-top: 1rem;
	margin-bottom: 21.6rem;
}
/* Category CSS [END] */


/* ALL WEAPON IMAGES NTH TYPE */

.box:nth-of-type(2){
	background-image: url(https://previews.dropbox.com/p/thumb/AAhagGIPzKzD_5YT6PSDeWlTN0gbymyOxYxUbAHXdMubFVafWISFh6boP17YESlcsUbXjSnHDTE9o-Mjzc5wyNqxSbgP3vToeiSulR_JM4UMRMFqx7Z7WxawIjmzcgExH79A1kwlHSNIPm1TTCp85Z8wQ5XH_WFrQu5QVYYBY1_rPCLmCQ8NOX6bpUphLN2WJchhnXJik3CudtY4kcwJMlLLSLCOUSsMT2oTZHJM5Ba1Kbbi-v_8vHybDjYTndSUm5fLefnIHVT9gVLBV6xO_cz3BO1ZGmxhdnd8JqVYimbOmGEmbof53L5ACSWqzgB19_qBBfIpr6GTvlT8KST-6TkA/p.png?fv_content=true&size_mode=5);
}

.box:nth-of-type(3){
	background-image: url(https://previews.dropbox.com/p/thumb/AAgWtMBACZMkSCW4eJ4LgMpX_Yf8WsT7VPsYzBxLqxRh8aiuUyx22smRxZ79G0jVK-goU63cKHwZPqUa2XlwK042L-iHxqNs-JaCfcKE_0g68CIil36HsPH8K_gDgR-l2xFNVlh9TZCWKRL7Aiq9nzj0Q1qbcHd3BZJQQoDecc419y57KuuvdU78lz5UsunLQJKSDpXvu85afE3YVYw0Z2UK5S8EkzXqFJvvLoGci5V6C1rF7b5ZER15dlLBqPKA3LUf1DhQEKTXm7ux6Y8fWqxESzSTBzFFtuqYFKfj3yffcUDeqzSw0LJepGwFIOZFh5YW_W4rjOcgJQdSsESiTc30/p.png?fv_content=true&size_mode=5);
}

.box:nth-of-type(4){
	background-image: url(https://previews.dropbox.com/p/thumb/AAgWtMBACZMkSCW4eJ4LgMpX_Yf8WsT7VPsYzBxLqxRh8aiuUyx22smRxZ79G0jVK-goU63cKHwZPqUa2XlwK042L-iHxqNs-JaCfcKE_0g68CIil36HsPH8K_gDgR-l2xFNVlh9TZCWKRL7Aiq9nzj0Q1qbcHd3BZJQQoDecc419y57KuuvdU78lz5UsunLQJKSDpXvu85afE3YVYw0Z2UK5S8EkzXqFJvvLoGci5V6C1rF7b5ZER15dlLBqPKA3LUf1DhQEKTXm7ux6Y8fWqxESzSTBzFFtuqYFKfj3yffcUDeqzSw0LJepGwFIOZFh5YW_W4rjOcgJQdSsESiTc30/p.png?fv_content=true&size_mode=5);
}

.box:nth-of-type(5){
	background-image: url(https://previews.dropbox.com/p/thumb/AAgWtMBACZMkSCW4eJ4LgMpX_Yf8WsT7VPsYzBxLqxRh8aiuUyx22smRxZ79G0jVK-goU63cKHwZPqUa2XlwK042L-iHxqNs-JaCfcKE_0g68CIil36HsPH8K_gDgR-l2xFNVlh9TZCWKRL7Aiq9nzj0Q1qbcHd3BZJQQoDecc419y57KuuvdU78lz5UsunLQJKSDpXvu85afE3YVYw0Z2UK5S8EkzXqFJvvLoGci5V6C1rF7b5ZER15dlLBqPKA3LUf1DhQEKTXm7ux6Y8fWqxESzSTBzFFtuqYFKfj3yffcUDeqzSw0LJepGwFIOZFh5YW_W4rjOcgJQdSsESiTc30/p.png?fv_content=true&size_mode=5);
}

/* ALL WEAPON IMAGES NTH TYPE [END] */

div#myBtnContainer {
    display: flex;
	justify-content: center;
	margin-top: -3rem;
}


/* WEAPON LIST CSS [END] */

/* FOOTER CSS */

footer {
	margin-bottom: 1rem;
}
	p {
		text-align: center;
		font-size: 20px;
	}

/* FOOTER CSS [END] */





/*  Media Queries  */
@media all and (max-width: 990px) {
	.nav-container {
	  flex-direction: column;
	}
	
	.nav-logo {
	margin: 0;
  }
	
	.navigation-links  {
	  width: 100%;
	  justify-content: space-around;
	}
  }
  
  @media all and (max-width: 500px) {
   
	.nav-logo {
	  margin: .25em 0;
	  align-self: center; /* align the logo to the left side of 'flex-container' */
	  border-bottom: 3px solid #ccc;
  	}
  
	.navigation-links {
	  flex-direction: column;
	}
	
	.navigation-links a { 
	  text-align: center; 
	  padding: 10px;
	  border-top: 1px solid rgba(255,255,255,0.3); 
	  border-bottom: 1px solid rgba(0,0,0,0.1); 
	}
	
	.navigation-links li:last-of-type a {
	  border-bottom: none;
	}

	.img-top-home .img-top-text {
		font-size: 38px;
	}
	.box{
		margin-left: 0rem;
	}
	div#myBtnContainer {
		display: flex;
		justify-content: center;
		margin-top: 2rem;
	}
  }
